.carousel-inner {
    width: 80% !important;
    overflow: hidden;
    position: relative;
    margin: auto;
  }
  
.carousel-item {
    height: 100%;
    width: 100% !important;
    display: flex;
    align-items: center;
  }
  