.header {
  height: 5rem;
  width: 100%;
  background-color: rgb(0, 183, 255);
  display: flex;
  flex: wrap;
  align-items: center;
  justify-content: space-around;
}

.header__title {
  font-size: 18px;
  font-weight: 800;
}


.header__located {
  height: 2.8rem;
  width: 25%;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.located--default {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.located--display {
  width: 100%;
  display: none;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.located--click {
  height: 100%;
  width: 80%;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}


.located--select--none {
  display: none;
}

.header__cart {
  height: 2rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__cart:hover .cart {
  display: block;
}

.cart--title {
  font-weight: 600;
  margin-left: 5px;
  text-decoration: none;
  color: black;
}

.header__account {
  height: 3rem;
  display: flex;
  align-items: center;
  position: relative;
}

.header__login__singout {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  display: none;
  bottom: -15px;
  width: 90px;
  text-align: center;
}

.header__signout {
  border: 0;
  padding: 5px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  width: 100%;
}

.header__signout:hover {
  color: red;
}

.header__account:hover .header__login__singout {
  display: block;
}

.account--title {
  font-weight: 600;
  margin-left: 5px;
  text-decoration: none;
  color: black;
  text-decoration: none;
}

.header__search {
  height: 2.8rem;
  width: 45%;
  border-radius: 20px;
  position: relative;
}

.search--form {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
}

.search--text {
  height: 2.8rem;
  width: 80%;
  padding: 0;
  border: 0px;
  /* border-radius: 0px 20px 20px 0px; */
  background-color: transparent;
  appearance: none;
  border-style: hidden;
}
.search--button{
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 183, 255);
  font-weight: 700;
  color: #fff;
  width: 15%;
  height: 2rem;
}

.search--text:focus {
  outline: none;
}

.product--item--search {
  position: relative;
  width: 100%;
  z-index: 5;
  padding: 5px 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.product--search--click {
  text-decoration: none;
  color: black;
}

.product--note--search {
  display: flex;
}

.image--note--search {
  height: 50px;
  width: 50px;
}

.product--empty--search {
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px;
  padding: 5px 5px;
  border: 1px solid gray;
}