.page__login {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login__regester{
    height: 65%;
    width: 70rem;
    display: flex;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

.login {
    width: 50%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px 20px;
    display: block;
    height: 100%;
}

.login__header {
    display: flex;
    justify-content: space-between;
}

.header--back {
    color: black;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 800;
}

.shop__name {
    font-weight: 900;
}

.login__title {
    font-size: 20px;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 5px 5px;
}

.login__form {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.label__account,
.label__password {
    width: 70%;
    position: relative;
}

.account__input,
.password__input {
    padding: 15px 15px;
    width: 100%;
    /* height: 40px; Hoặc chiều cao phù hợp với thiết kế của bạn */
    outline: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    /* Màu border mặc định */
    position: relative;
}

.account__input:focus,
.password__input:focus {
    border: 1px solid rgb(78, 175, 255);
    /* Màu border khi input được chọn */
}

.account__title,
.password__title {
    position: absolute;
    left: 10px;
    top: 15px;
    background-color: white;
    padding: 0 5px;
    transition: all 0.3s ease;
    color: #999;
}

/* Hiệu ứng khi input được chọn */
.account__title1,.password__title1 {
    position: absolute;
    top: -15px;
    left: 10px;
    font-size: 12px;
    background-color: white;
    color: rgb(78, 175, 255);
    transition: all 0.3s ease;
}

/* Đảm bảo tiêu đề nằm trên cùng của input */
.label__account,
.label__password {
    width: 70%;
    position: relative;
}

.login__button, .page__login--register--button {
    width: 60%;
  background-color: rgb(78, 175, 255);
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login__button:before ,.page__login--register--button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.login__button:hover, .page__login--register--button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}

.login__forgot_password {
    text-decoration: none;
}

.login__other {
    width: 70%;
    border-bottom: 1px solid gray;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__other__title {
    position: absolute;
    bottom: -12px;
    text-align: center;
    background-color: #fff;
    padding: 0px 10px ;
}
/* .page__login--register--button {
    width: 50%;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: rgb(78, 175, 255);
} */
.login__error{
    color: red;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
}


.page__login--register{
    width: 50%;
    background-color: rgb(174, 219, 255);
    display: flex;
    align-items: center;
}
.page__login--register--text--button{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

