.inventory{
    position: relative;

}
.inventory__overview{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.inventor__report{
    height: 100px;
    border-radius: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    font-weight: 600;
    color: white;
}
.inventory__quantity{
    background-color: green;
}
.inventory__pre--out--of--stock{
    background-color: rgb(255, 174, 0);
}
.inventory__action{
    height: 80px;
    padding: 10px;
    display: flex;
}
.action__categories{
    padding: 5px;
    border-radius: 10px;
}
.inventory__button{
    position: relative;
}
.action__options{
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 3;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: none;
}
.inventory__button:hover .action__options{
    display: block;
}
.option__import__inventory{
    list-style-type: none;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}
.option__import__inventory:hover{
    background-color: rgb(174, 174, 174);
}
.inventory__button__view{
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(0, 132, 255);
    color: white;
    font-size: 17px;
    font-weight: 600;
}
.inventory__button__reset{
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(255, 30, 0);
    color: white;
    font-size: 17px;
    font-weight: 600;
}
.inventory__table{
    padding: 0px 10px;
    max-height: 500px;
    overflow-y: auto;
}
.table__header,
.table__rows{
    width: 100%;
    display: flex;
    align-items: center;
}
.table__header{
    background-color: rgb(76, 148, 255);
    position: sticky;
    top: 0;
}
.table__header--title{
    font-weight: 650;
}
.table__header--title,
.table__rows--data{
    text-align: center;
    padding: 10px;
}
.table__rows{
    border-bottom: 1px solid rgb(172, 169, 169);
}
.table__header--title:first-child,
.table__rows--data:first-child{
    width: 5%;
    display: flex;
}
.table__header--title:nth-child(2),
.table__rows--data:nth-child(2){
    width:15% ;
}
.table__header--title:nth-child(3),
.table__rows--data:nth-child(3){
    width:20% ;
}
.table__header--title:nth-child(4),
.table__rows--data:nth-child(4){
    width:15% ;
}
.table__header--title:nth-child(5),
.table__rows--data:nth-child(5){
    width:15% ;
}
.table__header--title:nth-child(6),
.table__rows--data:nth-child(6){
    width:15% ;
}
.table__header--title:nth-child(7),
.table__rows--data:nth-child(7){
    width:15% ;
}

.inventtory__product--image{
    width: 100px;
    height: 100px;
}
.inventory__view--mode{
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
    color: red;
}
.inventory__mode__quantity{
    display: flex;
}